<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/cardapio.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Tela de Cardápio</title>

</head>

<body>

  <header>
		<a href="/"><img src="../public/images/cantinalogo2.png" alt="logo cantina Federal"></a>
	</header>

  <script type="text/javascript" src="../public/js/cardapio.js"></script>
  <section class="bg-cardapio bg-section" id="cardapio">
    <div class="container-fluid">
        <h1 class="container-h1">Cardápio</h1>
        <div class="row">
            
                <!-- Nav pills -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#salgados">Salgados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#doces">Doces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#bebidas">Bebidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#sorvetes">Picolé e sorvetes</a>
                    </li>
                </ul>
                <div class="tab-content slideanim">
                    <div id="salgados" class="tab-pane fade show active">
                        <div class="row">
                            <div class="col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Pastel de carne<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Pastel de frango<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Risoles de presunto e queijo<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Risoles de frango<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Assado de carne<span class="badge pull-right">R$4,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Assado de frango<span class="badge pull-right">R$4,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Pão de queijo<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Rosca de polvilho<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Salsichão<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Pizza<span class="badge pull-right">R$5,00</span></h4>
                                      <p class="list-group-item-text">calabresa, cheedar e cream cheese</p>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Sanduiche<span class="badge pull-right">R$5,00</span></h4>
                                      <p class="list-group-item-text">presunto, queijo, alface e tomate</p>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Hamburguer<span class="badge pull-right">R$5,00</span></h4>
                                      <p class="list-group-item-text">hamburguer, presunto, queijo, alface e tomate</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-5">
                                <div class="right-cover">
                                    <h3>Salgados</h3>
                                    <img src="../public/images/salgados.jpg" class="cardapio-img img-fluid" alt="Imagem de salgados">
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div id="doces" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Churros<span class="badge pull-right">R$0,80</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Cavaquinho/Cueca virada<span class="badge pull-right">R$2,00</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Croissant de chocolate<span class="badge pull-right">R$5,00</span></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-5">
                                <div class="right-cover">
                                    <h3>Doces</h3>
                                    <img src="../public/images/doces.jpg" class="cardapio-img img-fluid" alt="Imagem de doces">
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div id="bebidas" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Café<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Achocolatado<span class="badge pull-right">R$3,50</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Suco<span class="badge pull-right">R$3,50</span></h4>
                                      <p class="list-group-item-text">laranja</p>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Regrigerante 2L<span class="badge pull-right">R$12,00</span></h4>
                                      <p class="list-group-item-text">pepsi, coca-cola, guarána e sprite</p>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Refrigerante 600mL<span class="badge pull-right">R$6,00</span></h4>
                                      <p class="list-group-item-text">pepsi, coca-cola, guarána e sprite</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-5">
                                <div class="right-cover">
                                    <h3>Bebidas</h3>
                                    <img src="../public/images/bebidas.jpg" class="cardapio-img img-fluid" alt="Imagem de bebidas">
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div id="sorvetes" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Sorvete X<span class="badge pull-right">R$5,00</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Sorvete Y<span class="badge pull-right">R$6,00</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Picolé X<span class="badge pull-right">R$7,00</span></h4>
                                    </li>
                                    <li class="list-group-item">
                                      <h4 class="list-group-item-heading">Picolé Y<span class="badge pull-right">R$8,00</span></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-5">
                                <div class="right-cover">
                                    <h3>Picolé e sorvetes</h3>
                                    <img src="../public/images/sorvetes.jpg" class="cardapio-img img-fluid" alt="Imagem de sorvetes">
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>          
        </div>
    </div>
  </section>

</body>
</html>